﻿@using X.PagedList
@model IPagedList<DomainLayer.Models.User>
@{
    var controller = "User";
}

<h2>All Users</h2>
<div class="table-responsive text-nowrap">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            @{var count = 0; }
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.userName</td>
                    <td>@item.userEmailId</td>
                    <td>@item.userPhone</td>
                    <td>@item.userAddress</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a asp-controller="@controller" asp-action="Edit" asp-route-Id="@item.userId" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i>Edit</a>
                                <a asp-controller="@controller" asp-action="RemoveUser" asp-route-Id="@item.userId" class="dropdown-item"
                                   >
                                    <i class="bx bx-trash me-1"></i> Delete
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

